#score {
   text-align: center; 
}

body {
 margin: 0;
 padding: 0;
 animation: bgcolor infinite 20s; 
}

@keyframes bgcolor {
    0%
    {
        background:#fad390 ;
    }
    20%
    {
        background:#f6b93b ;
    }
    40%
    {
        background:#fa983a ;
    }
    60%
    {
        background:#e58e26 ;
    }
    80%
    {
        background:#f8c291 ;
    }
    100%
    {
        background:#e55039 ;
    } 
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-image: url(https://thumbs.dreamstime.com/b/landscape-game-background-game-black-white-background-seamless-cartoon-landscape-89891527.jpg);
    background-size: cover;
}

#names {
    text-align: center;
}

#snus {
    height: 75px;
    width: 75px;
    position: relative;
    top: 175px;
    background-image: url(https://swedishmatch.cdn.storm.io/2e057882-58cd-4299-a0c6-08105a5f30c3.jpg?format=png&maxheight=480);
    background-size: cover;
}

#rock {
    height: 50px;
    width: 50px;
    position: relative;
    top: 120px;
    left:550px;
    background-image: url(https://opengameart.org/sites/default/files/Rock%20Pile.png);
    background-size: cover;
    animation: rock 1.50s infinite;
}


.rock-animation {
    animation: rock 1.50s infinite;
}

@keyframes rock {
    0%{left: 550px;}
    100%{left: -50px;}

}

.jump-animation{
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 175px;}
    50%{top: 50px;}
    65%{top: 50px;}
    100%{top: 170px;}
}

